<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SupportEmail.FromAddress" value="fit2work@anvilgroup.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SupportEmail.ToAddress" value="itliveincidents@anvilgroup.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- 
      Credentials for WorldText account(s) in format "country code|account id|api key|api password|default"
      Can add as many as required as long as the key is prefixed with SMSRouting.
      NOTE:  Only one entry should be Default = true
    -->
    <add key="SMSRouting.UK" value="44|17134|0ea7cdbf28c99d6e2d8ba3242c75e1b6|AnvilGroup|true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSRouting.US" value="1|17135|0c6afde4000e0e2e13142c09df71dc13|AnvilGroup|false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
