<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AnvilGroup.Library.LoggingManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AnvilGroup.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Fit2Work" connectionString="data source=LDN-I-SQL10;initial catalog=Fit2Work;Integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AnvilGroup.Library.Properties.Settings.ConnectionString" connectionString="Data Source=LDN-I-SQL10\SQLENT2008;Initial Catalog=EnterpriseSetup_INT1;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WatchPath" value="\\ftpshare\FTP\Anvil\FitToWork\" />
    <add key="ArchiveWatchPath" value="\\ftpshare\FTP\Anvil\FitToWork\Archive" />
    <add key="InternalBufferSize" value="8192" />
    <add key="WaitSeconds" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <AnvilGroup.Library.LoggingManager.Properties.Settings>
      <setting name="LoggingManagerSettings" serializeAs="String">
        <value>C:\WindowsServices\AnvilGroup\Fit2WorkImportUserService\LoggerConfig.xml</value>
      </setting>
      <setting name="ExceptionsEMailRecipient" serializeAs="String">
        <value>alarkin@anvilgroup.com</value>
      </setting>
      <setting name="ExceptionEmailTitle" serializeAs="String">
        <value>FitToWork Import User Service - DEV</value>
      </setting>
    </AnvilGroup.Library.LoggingManager.Properties.Settings>
    <AnvilGroup.Library.Properties.Settings>
      <setting name="EventLogName" serializeAs="String">
        <value>HeartBeat</value>
      </setting>
      <setting name="ExceptionEmailTitle" serializeAs="String">
        <value>Error sending application heartbeat - FitToWork Import User Service</value>
      </setting>
      <setting name="ExceptionsEMailRecipient" serializeAs="String">
        <value>alarkin@anvilgroup.com</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ExceptionSender" serializeAs="String">
        <value>HeartBeat-FitToWorkImportUserService.dev@anvilgroup.com</value>
      </setting>
      <setting name="MaxBeatInterval" serializeAs="String">
        <value>21600</value>
      </setting>
      <setting name="MinBeatInterval" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="ClusterKey" serializeAs="String">
        <value>LDN-I-WNS10</value>
      </setting>
    </AnvilGroup.Library.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="FitToWorkImportUserService.INT@anvilgroup.com">
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.0" newVersion="6.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.0" newVersion="6.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>